*
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a{
    color: inherit;
    text-decoration: inherit;
}

body {
    background-color: grey;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 25px;
}

article {
    background-color: darkgray;
    margin: 25px 0 25px 0;
    padding: 20px 30px 20px 30px;
}

article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#thumbs img {
    width: 60px;
    stroke-width: 2px;
    color:black;
}

#canvas-example canvas {
    border-color: white;
    border-style: dashed;
}

#dragdrop-example [data-role=drag-drop-target] {
    width: 150px;
    height: 185px;
    border-color: white;
    border-style: dashed;
    display:inline-block;
}

.hide {
    display: none;
}

.dragOver {
    background-color: rgb(209, 209, 209);
}

.navbar ul {
    list-style-type: none;
}
.navbar li {
    display: inline-block;
}
.navbar a:hover {
    font-weight: bold; 
}
.nav-link {
    margin: 20px 0 0 35px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #c33;
  border-color: #c33;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #c33;
  -webkit-box-shadow: 0 0 6px #fcc;
     -moz-box-shadow: 0 0 6px #fcc;
          box-shadow: 0 0 6px #fcc;
}

input:focus:valid,
textarea:focus:valid,
select:focus:valid {
    color: green;
    border-color: green;
}

input:invalid,
textarea:invalid,
select:invalid {
  border-bottom: 1px solid #c33;
}

.invalid {
    color: #999;
  }