/* Much like a CSS reset, resets the default rules applied by the browser's default stylesheet*/
*
{
    padding:0px;
    margin:0px;
}

body{
    background-color: grey;
    align-content: center;
}


.menu {
    list-style-type: none;
    text-align: center;
}

.menu li:hover {
    background-color: lightcoral;
}

.menu li {
    /* width: 30% Apparently putting this here would size the box with its TOTAL DIMENSIONS, overriding the margins too. New spec of CSS? */
    width:15%;
    display: inline-block;
    background-color: darkgrey;
    padding: 3px 0 0 10px;
    margin: 10px 25px 10px 25px;
    border-bottom: 3px solid black;
}

/* Can select a specific item in a list */
.menu li:nth-child(2) {
    background-color: rgb(34, 34, 34);
    /*visibility: hidden;*/
}