body {
    background-color: blanchedalmond;
    color:whitesmoke;
}

h1 {
    background-color: brown;
}

div {
    width: 50%;
    background-color: red;
}

p {
    width: 50%; /* Due to the inheritance, any p inside a div will be 50% of 50% (25% of the page) in width */
    background-color: darkred;
    font-size: large;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
}

/* Selectors based on IDs and classes */
#id {
    background-color: greenyellow;
}

.class {
    background-color: darkgreen;
}

/* Descendant selector: will apply to any paragraphs inside a div no matter the hierarchy */
div p {
    color: red;
}

/* Child selector: will apply to any DIRECT child paragraphs of divs */
div > p {
    color: white;
}

/* Attribute selector */
p[title] {
    background-color: brown;
}
p[title="A title"]
{
    color: white;
}

/* Pseudo-class selector */
a:visited {
    background-color: blueviolet;
}