body {
    background-color: blanchedalmond;
}

h1 {
    background-color: brown;
}

div {
    background-color: red;
}

p {
    background-color: darkred;
}

#id {
    background-color: greenyellow;
}

.class {
    background-color: darkgreen;
}